.container {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  gap: 1em;
  grid-template-rows: repeat(12, auto-fit);
  grid-template-columns: auto;
  justify-content: center;
  background-color: cornflowerblue;
}

#header {
  grid-row: auto;
  grid-column: span 12;
  justify-content: center;
  text-align: center;
}
